body{
    margin: 0;
}

.header{
    display: flex;
    justify-content: center;
    font-size: 42px;
    border-bottom: 3px groove;
}

.main-content{
    display: flex;
}

.left-menu{
    width: 200px;
    border-right: 3px groove;
}

.content{
    flex: 1;

    display: flex;
    flex-wrap: wrap;
    min-height: calc(100vh - 51px);
}

.girl-block{
    width: 200px;
    height: calc(20px + 200px + 3px * 2 + 2px);
    border: 1px solid;
    border-radius: 10px;
    margin: 10px;
}
.name{
    margin: 200px;
}
.girl-block .name{
    text-align: center;
    margin: 3px 0;
    height: 20px;
}
.girl-block img{
    max-width: 200px;
    max-height: calc(200px - 20px);
    border-radius: 10px;
}

.image-block{
    border-top: 1px solid;
    border-bottom: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(200px - 20px);
}

.buttons{
    height: 20px;
    display: flex;
}
.button{
    flex: 1;
    background: aqua;
    border-right: 1px solid;
    display: flex;
    justify-content: center;
}

.button:first-child{
    border-bottom-left-radius: 10px;
    background: red;
}

.button:last-child{
    border-bottom-right-radius: 10px;
    border-right: none;
}

.help-link:hover{
    background: aqua;
}